# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: 莫粒
email: molisoft@qq.com
description: > # this means to ignore newlines until "baseurl:"
  你看到的这些，它好像值得写一下。
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://huoxr.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: moli520
github_username:  molisoft

tagline: '的多维空间'
author:
  name: 莫粒
  url:  https://twitter.com/moli520
  email: molisoft@qq.com

  
# Build settings
markdown: kramdown
# theme: minima
gems:
  - jekyll-feed

exclude:
  - Gemfile
  - Gemfile.lock

layouts_dir:  "_layouts"

paginate: 20
paginate_path: "posts/:num"

disqus:
  shortname: "huoxr-com"

comments: true

future: true
